body
{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/main.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: none;
}

.custom-nav{
    border-bottom: 1px solid white;
    color: white;
}
.custom-nav a{
    color: inherit; 
}

.sections {
    background-color: White;
    margin-top: 50vh;
    width: 100%;
    padding: 15px;
}

.sections img{
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    transition: all 2s;
}

.sections img:hover{
    transform: scale(1.09);
    transition: all 2s;
}