body
{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/main.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: none;
}

.custom-nav{
    border-bottom: 1px solid white;
    color: white;
}
.custom-nav a{
    color: inherit; 
}

.sections {
    background-color: White;
    width: 100%;
    padding: 15px;
    margin-top: 40px;
}

#gallary{
    margin-top: 5vh;
}

#gallary img{
    width: 100%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    transition: all 2s;
}
#gallary img:hover{
    transform: scale(1.09);
}

#about{
    padding: 20px;
    background-image: url('../images/ronaldo.jpg');
    background-attachment: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -10px;
    border-bottom: 1px solid rgb(150, 145, 145)
}

#about img{
    height: 500px;
    width: 100%;
}

.heading{
    text-align: center;
    color: rgb(153, 144, 144);
    font-family: cursive;
    margin-top: 50px;
    margin: 50px;
}

#about p{
    color: white;
    text-align: justify;
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 80px;
} 

.border{
    border-bottom: 1px solid rgb(153, 144, 144);
    margin: 50px;
    margin-top: 90px;
}

#main p{
    margin-top: 90%;
    color: white;
    margin-left: 50%;
    font-size: 2.5em;
}

#main{
    margin-top: 100px;
}

#contact{
    background-color: rgb(42, 168, 158);
    padding: 30px;
    margin-top: 80px;
    
}

#contact-heading{
    font-size: 3em;
    border: 5px solid white;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

#footer{
    background-color: rgb(37, 35, 35);
    height: 7vh;
    margin-bottom: 100px;
    padding: 20px 70px;
}

.icons{
    color: white;
    margin-left: 30px;
    font-size: 1.5em;
}
i:first-child{
    margin-left: 120px;
}

.custom-nav:hover{
    border-bottom: none;
    background-color: rgb(37, 35, 35);
    transition: all 1s;
}