body
{
    background-image: url('../images/main.jpeg');
    background-attachment: fixed;
    background-size: cover;
    overflow-y: none;
}

.custom-nav{
    border-bottom: 1px solid white;
    color: white;
}
.custom-nav a{
   color: inherit; 
 }

 .custom-nav li:nth-child(1)
 {
     margin-left: 650px;
 }